body{
    background-image: url(red-and-blue-calculators.jpg);
}

#fullCalculator{
    width: 25%;
    margin-top: 12%;
    transform: translateX(145%);
    border: 0px solid rgb(114, 41, 103);
    border-radius: 30px;
    padding: 10px;
    box-shadow: -3px 3px 3px 5px rgb(237, 236, 236);
    text-align: center;
    background-color: rgb(221, 209, 209);
}

textarea{
    border: 0px;
    border-radius: 10px;
    margin: 5px;
    resize: none;
    background-color: rgba(245, 245, 245, 0.3);
    border: 0px solid white;
    padding: 5px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 20px;
    font-weight: bold;
    font-family: Courier;
}
button{
    width: 15%;
    height: 10%;
    border: 1.8px solid rgba(5, 115, 128, 0.5);
    border-radius: 90px;
    font-size: 20px;
    font-weight: bold;
    font-family: Courier;
    margin: 8px;
    margin-right: 18px;
    padding: 10px;
    background-color: rgba(244, 247, 247, 0.5);
    box-shadow: 1px 3px 3px 0.5px rgb(237, 236, 236);
    color: rgba(0, 0, 0, 0.688);
    text-align: center;
}
#deleteBtn{
    border: 1.8px solid red;
    background-color: rgb(221, 89, 89);
    color: white;
    font-size: 22px;
}
#previousBtn{
    border: 1.8px solid rgb(240, 237, 64);
    background-color: rgb(237, 175, 69);
    color: white;
    font-size: 22px;
}
#resetBtn{
    border: 1.8px solid rgb(64, 240, 164);
    background-color: rgb(69, 237, 77);
    color: white;
    font-size: 22px;
}
