body{
    text-align: center;
}
#workArea{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    padding: 20px;
    border: 1px solid rgb(93, 202, 81);
    border-radius: 20px;
    position: absolute;
    top: 25%;
    transform: translateX(100%);
}

input, textarea{
    margin: 10px;
}

#passwordScreen{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 26px;
    font-family: 'Lucida Sans';
    border: 1px solid wheat;
    border-radius: 10px;
    resize: none;
    
}

#passwordLengthInput{
    width: 35%;
    height: 20px;
    padding: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans';
}

p{
    font-size: 12px;
    font-family: 'Lucida Sans';
    color: rgb(41, 117, 179);
    font-weight: bolder;
}

#generateBtn{
    width: 40%;
    height: auto;
    padding: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    text-align: center;
    font-size: 100%;
    font-family:  'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
    font-weight: bold;
    color: tomato;
}